{% extends "core/layouts/base.html" %}

{% block content %}
    <h2>{{ title }}</h2>    
    <table>
        <tr valign="top">
            <td><img src="{{ product.principale_image.url }}" width="80" height="80" style="border-color: aqua;border-width: 1rem;"></td>
            <td> Name : {{ product.name }} </td>
            <td> Price : {{ product.price }} $ </td>
        </tr>
    </table>
    {% if product.product_images.all %}
        {% for product_image in product.product_images.all %}
            <img src="{{ product_image.image.url }}" width="80" height="80">
        {% endfor %}
    {% else %}
        <p>No Images are available for this product.</p>
    {% endif %}
    <a href="{%  url 'product-add-images' product.id %}">Add images</a>
{% endblock %}