{% extends "core/layouts/base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}!</h1>
    <hr>
    <div>
        Categories : 
        {% for category in categories %}
            <b><a href="{% url 'category-products' category.pk %}">{{ category.name }}</a></b> | 
        {% endfor %}
    </div>
    <hr>

    {% if products %}
        <ul>
        {% for product in products %}
            <li>
                <div>
                    <a href="{% url 'product-detail' product.pk %}">
                        {{ product.name }}
                    </a> : 
                    <b> with the price of : {{ product.price }} $</b>
                </div>
            </li>
        {% endfor %}
        </ul>

        <a href="{%  url 'product-create' %}">Add new product</a> - 
        <a href="{%  url 'product-list' %}">See all product</a>
    {% else %}
        <p>No Products are available.</p>
    {% endif %}
{% endblock %}