<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Ecommerce</title>
      {% else %}
      <title>Welcome to Bulletproof Ecommerce</title>
      {% endif %}
    </head>
    <body>
        {% include "core/includes/navbar.html" %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </body>
</html>