<div style="display: flex; justify-content: space-between;">
    <div>
      Bulletproof: 
      <a href="{% url 'index' %}">Home</a>
    </div>
    <div>
      {% if user.is_authenticated %}
        <span>Welcome : <b>{{user.username}}</b></span>
        {% if user.user_stores.all %}
          <a href="{% url 'user-store' %}">My Store</a>
        {% else %}
          <a href="{% url 'store-create' %}">Create your store</a>
        {% endif %}
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'account_logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'account_login' %}">Login</a>
      {% endif %}
    </div>
</div>
<hr>